.container
  .well
    form(name="newRecipeForm")
      fieldset
        legend {{createOrEditRecipeLegend}}
        .form-group
          label.control-label(for="name") Name
          input.form-control(name="name", type="text", placeholder="Name", ng-model="name", required)
        .form-group
          label.control-label(for="description") Description
          textarea.form-control(name="description", placeholder="Description", ng-model="description", required)
        .panel.panel-default
          .panel-heading
            h4.panel-tile Ingredients
          .panel-body
            .container-fluid.ingredients-list(ng-repeat="ingredient in ingredients")
              .form-group.col-md-2
                label.control-label Quantity
                input.form-control(name="quantity.{{ingredient.id}}",
                  type="text", placeholder="0.5, 1, 1.5", ng-model="ingredient.quantity")
              .form-group.col-md-2
                label.control-label Unit
                select.form-control(name="measurement.{{ingredient.id}}", ng-model="ingredient.measurement", ng-options="measurement.name for measurement in measurements track by measurement._id")
                  option(value="") Choose a unit
              .form-group.col-md-3
                label.control-label Ingredient
                input.form-control(name="name.{{ingredient.id}}",
                  type="text", placeholder="Tomato, Onion...", ng-model="ingredient.name")
              .form-group.col-md-2
                label.control-label Preparation
                input.form-control(name="preparation.{{ingredient.id}}",
                  type="text", placeholder="Chopped, Diced...", ng-model="ingredient.preparation")
              .col-md-2
                a.btn.btn-danger(ng-click="removeIngredient(ingredient.id)") Remove
            .pull-right
              a.btn.btn-default(ng-click="addIngredient()") Add
        .form-group
          label.control-label(for="directions") Directions
          textarea.form-control(name="directions", placeholder="Directions", ng-model="directions", required)
        .row
          .form-group.col-lg-6
            label.control-label(for="preparationTime") Preparation Time
            input.form-control(name="preparationTime", type="text", placeholder="15 minutes",
              ng-model="preparationTime", required)
          .form-group.col-lg-6
            label.control-label(for="cookingTime") Cooking Time
            input.form-control(name="cookingTime", type="text", placeholder="15 minutes",
              ng-model="cookingTime", required)
        .row
          .form-group.col-lg-6
            label.control-label(for="numberOfServings") Number of servings
            input.form-control(name="numberOfServings", type="text", placeholder="6",
              ng-model="numberOfServings", required)
        .row
          .form-group.col-lg-6
            label.control-label(for="cookBook") Recipes Book
            select.form-control(data-ng-model="cookBook", data-ng-options="cb.name for cb in cookBooks track by cb._id ", required)
          .form-group.col-lg-6
            label.control-label(for="cookingTime") New Recipes Book
            input.form-control(name="newRecipesBookName", type="text", placeholder="New recipes book name", ng-model="newCookBookName")
            button.btn.btn-primary(ng-click="saveCookBook()") Save
        .form-group
          .col-md-10.col-md-offset-2
            .pull-right
              button.btn.btn-primary(ng-click="saveRecipe()" ng-disabled="newRecipeForm.$invalid") Submit
              | &nbsp;
              a.btn.btn-default(href="/") Cancel
